body {
    background-color: #6C404E;
    color: white;
    font: Verdana, Sans;
}

#wrapper {
    width: 960px;
    background-color: #2e3436;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 20px;
}

.sidebar {
/*    border: 1px solid white; */
}

.clear {
    clear: both;
}

#footer {
    width: 960px;
    text-align: center;
    margin-top: 20px;
}

p {
    text-align: justify;
    font-size: 11pt;
    line-height: 1.5;
    text-indent: 30px;
}

h1 {
    font-size: medium;
    text-align: center;
}

h3 {
    font-size: medium;
    text-align: center;
}

a:link {
    color: #FFB8D0;
}

a:visited {
    color: #FF709D;
}

#contacts {
    line-height: 1.3;
}

#dost {
   font-size: 11pt;
   line-height: 1.5;
}

#ava {
    float: right;
    margin-left: 15px;
    margin-bottom: 0px;
    width: 208px;
    height: 235px;
    padding-top: 18px;
}

#right { 
    float: right;
    width: 470px;
}

#left {
    position: relative;
    float: left;
    width: 470px;
}

#chel1 {
    position: fixed;
    right: 30px;
    bottom: 25px;
}

#chel2 {
    position: absolute;
    right: 40px;
    top: 100px;
}

#chel3 {
    position: fixed;
    left: 0px;
    top: 450px;
}
