body {
    background-color: #6C404E;
    color: white;
    font: Verdana, Sans;
}

#wrapper {
    width: 960px;
    background-color: #2e3436;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 20px;
}

.sidebar {
/*    border: 1px solid white; */
}

.clear {
    clear: both;
}

#footer {
    width: 960px;
    text-align: center;
    margin-top: 50px;
}

p {
    text-align: justify;
    font-size: 10pt;
    text-indent: 20px;
}

h1 {
    font-size: medium;
    text-align: center;
}

h3 {
    font-size: medium;
    text-align: center;
}

a:link {
    color: #FFB8D0;
}

a:visited {
    color: #FF709D;
}

#dost {
   font-size: small;
}

#ava {
    float: right;
    margin-left: 15px;
    margin-bottom: 0px;
    width: 208px;
    height: 235px;
    padding-top: 18px;
}

#right { 
    float: right;
    width: 470px;
}

#left {
    float: left;
    width: 470px;
}
